<% if bookmark %>
  <div class="col-sm-3">
    <div class="well bookmark_box">
      <p> <%= render partial: 'bookmarks/thumbnail', locals: { bookmark: bookmark } %> </p>
    </div>
    <div class="button_placement">
      <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
    </div>
  </div>
<% end %>
