<div class="jumbotron page-header">
  <h1 class="centerText">Welcome to Blocmarks</h1>
  <p id="msg" class="centerText"> A social bookmarking app that allows users to send, manage and share bookmarks.  </p>
</div>
<div class="row list">
 <ul class="centerText">
   <div class="col-md-3">
     <li class="indexList">Bookmark</li>
     <li><span class="glyphicon glyphicon-bookmark bigfont">&nbsp</span></li>
   </div>

   <div class="col-md-3">
     <li class="indexList">Manage</li>
     <li><span class="glyphicon glyphicon-cog bigfont">&nbsp</span></li>
   </div>
   <div class="col-md-3">
     <li class="indexList">Send</li>
     <li><span class="glyphicon glyphicon-send bigfont">&nbsp</span></li>
   </div>
   <div class="col-md-3">
     <li class="indexList">Share</li>
     <li><span class="glyphicon glyphicon-share bigfont">&nbsp</span></li>
   </div>
</div>
