/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require_bootstrap
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 body {
     height: 100%;
     background: white; //#d5d5d5;
 }

 .user-info {
 margin-top: 10px;
}
_____________________________________________________________________
 a {
     color: grey;
 }

 a:hover {
     text-decoration: none;
     color: #927c7c;
 }

 a:active {
     text-decoration: none;
     color: #a85454;
 }

 // .page-border {
 //     padding: 0px;
 //     box-shadow: 0 9px 0px 0px #d5d5d5, 0 -9px 0px 0px #d5d5d5, 5px 0 7px -4px #736a53, -5px 0 7px -4px #736a53;
 //     // border-bottom: thick solid #bfbfbf;
 // }

 // .nav {
 //     padding-top: .15em;
 //     background: white; //#c7c7c7;
 //     border-bottom: thin solid #bfbfbf;
 //     position: relative;
 //     float: right;
 //     right: 2%;
 // }
 //
 // .user-panel {
 //     position: relative;
 //    //  bottom: 30px;
 //     float: right;
 //     right: 2%;
 // }

.lineBreak {
  font-size: 20px;
  padding-top: 10px;
}

a.btn {
  color: #fff !important;
  text-decoration: none !important;
}
