// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmark_box {
  width: 240px;
  height: 240px;
  word-wrap: break-word;
  }

  .button_placement {
    margin-left: 60px;
    margin-bottom: 70px;
  }
